@import "../node_modules/carbon-components/scss/globals/scss/_spacing.scss";

.cardForm {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    max-width: 80%;
    margin: auto;
}


.numberInputStyle {
    min-width: 15px !important;
}

.buttonStyle {
    margin-right: 10px;
    min-width: 108px;
    height: 34.79px;
    border-radius: 5px;
    background: rgba(247, 105, 114, 0.18);
    border: 1px solid #FB000F;
    padding: 20px;

}

.buttonStyle1 {
    margin-left: 10px;
    width: 108px;
    height: 34.79px;
    background: rgba(78, 203, 113, 0.1);
    border-radius: 5px;
    padding: 20px;

    // &:hover{

    // }
}

.flexEnd {
    float: right;
}

.formGroup {
    width: 100%;
}

.m1 {
    margin-left: 1px;
}

.m2 {
    margin-left: 2px;
}

.p0 {
    padding: 0;
}

.main {
    margin-top: 25px;
    margin-bottom: 50px;
}

.icon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-bottom: 6px;
    color: rgb(101, 101, 101);
    float: right
}

.separator {
    border-bottom: 0.5px solid #d6d6d6;
    margin-bottom: .6rem;
}

.title {
    font-weight: bold;
}

.font {
    font-size: 16px;
    font-weight: lighter;
    color: gray;
}

.column2 {
    padding: 0;
}

.column1 {
    padding: 0;
    margin: 0;
}

.infoCard {
    margin-bottom: 40px;
}